.content {
    height: 100%;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 12vw;
    padding-right: 12vw;
    word-break: break-word;
    text-align: justify;
    box-sizing: border-box;
    font-size: large;
}

.tocome {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}