.content {
    padding-top: 6vh;
    padding-bottom: 6vh;
    word-break: break-word;
    text-align: justify;
    box-sizing: border-box;
    font-size: large;
    overflow-y: auto;
}

.tocome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}