.content {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 18%; // clamp
    padding-right: 18%;
    word-break: break-word;
    text-align: justify;
    box-sizing: border-box;
    font-size: large;
}

.tocome {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}