.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

.root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}