.header {
    display: flex;
    box-shadow: 0px 0vh 5vh rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.titleWrapper {
    text-align: center;
    padding: 1.5vh;

    .title {
        font-size: x-large;
    }

    .subtitle {
        margin-top: 0.3vh;
        font-size: large;
        font-style: italic;
    }
}

.menuButton {
    position: absolute;
    transition: transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
    left: 1.5vw;
    z-index: 10;
}

.menuButton:hover {
    cursor: pointer;
    transform: scale(1.5);
}

